In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../wonka_choc_factory.csv')
print(df.shape)
df.head()

(10194, 19)

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude
0,0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371
1,1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036
2,2,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036
3,3,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371
4,4,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,Pacific,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10194 non-null  int64
 1   Order Date      10194 non-null  object
 2   Ship Date       10194 non-null  object
 3   Ship Mode       10194 non-null  object
 4   Customer ID     10194 non-null  int64
 5   Country/Region  10194 non-null  object
 6   City            10194 non-null  object
 7   State/Province  10194 non-null  object
 8   Postal Code     10194 non-null  object
 9   Division        10194 non-null  object
 10  Region          10194 non-null  object
 11  Product Name    10194 non-null  object
 12  Sales           10194 non-null  float64
 13  Units           10194 non-null  int64
 14  Gross Profit    10194 non-null  float64
 15  Cost            10194 non-null  float64
 16  Factory         10194 non-null  object
 17  Latitude        10194 non-null  float64
 18  Longitude       10194 non-null  float64
dtypes: float64(5), int64(3), object(11)
memory usage: 1.5+ MB

In [5]:
df.describe(include='all')

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude
count,10194.000000,10194,10194,10194,10194.000000,10194,10194,10194,10194,10194,10194,10194,10194.000000,10194.000000,10194.000000,10194.000000,10194,10194.000000,10194.000000
unique,NaN,1242,1338,4,NaN,2,542,59,654,3,4,15,NaN,NaN,NaN,NaN,5,NaN,NaN
top,NaN,2023-09-05,2028-06-07,Standard Class,NaN,United States,New York City,California,10035,Chocolate,Pacific,Wonka Bar - Milk Chocolate,NaN,NaN,NaN,NaN,Lot's O' Nuts,NaN,NaN
freq,NaN,38,38,6120,NaN,9994,915,2001,263,9844,3253,2137,NaN,NaN,NaN,NaN,5692,NaN,NaN
mean,5096.500000,NaN,NaN,NaN,134468.961154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.908537,3.791838,9.166451,4.742087,NaN,32.807294,-98.556639
std,2942.898656,NaN,NaN,NaN,20231.483007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.341020,2.228317,6.643740,5.061647,NaN,1.618987,14.962083
min,0.000000,NaN,NaN,NaN,100006.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.250000,1.000000,0.250000,0.600000,NaN,32.076176,-111.768036
25%,2548.250000,NaN,NaN,NaN,117212.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.200000,2.000000,4.900000,2.400000,NaN,32.076176,-111.768036
50%,5096.500000,NaN,NaN,NaN,133550.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.800000,3.000000,7.470000,3.600000,NaN,32.881893,-111.768036
75%,7644.750000,NaN,NaN,NaN,152051.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,5.000000,12.250000,5.700000,NaN,32.881893,-81.088371
max,10193.000000,NaN,NaN,NaN,192314.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,260.000000,14.000000,130.000000,130.000000,NaN,48.119140,-81.088371

In [14]:
df['Product Name'].unique()

array(['Wonka Bar - Triple Dazzle Caramel',
       'Wonka Bar -Scrumdiddlyumptious', 'Wonka Bar - Fudge Mallows',
       'Wonka Bar - Milk Chocolate', 'Wonka Bar - Nutty Crunch Surprise',
       'Wonka Gum', 'SweeTARTS', 'Lickable Wallpaper', 'Kazookles',
       'Everlasting Gobstopper', 'Fizzy Lifting Drinks', 'Nerds',
       'Fun Dip', 'Laffy Taffy', 'Hair Toffee'], dtype=object)

In [16]:
df['Product Name']('Wonka Bar - Triple Dazzle Caramel').unique()

TypeError: 'Series' object is not callable

In [7]:
df['Factory'].value_counts() # 5 factories selling the products, most sales from Lot's O' Nuts.

Factory
Lot's O' Nuts        5692
Wicked Choccy's      4152
Secret Factory        217
The Other Factory     100
Sugar Shack            33
Name: count, dtype: int64

In [8]:
df["Country/Region"].value_counts() # only 2 countrys in the dataset, most sales from US

Country/Region
United States    9994
Canada            200
Name: count, dtype: int64

In [9]:
df["Product Name"].value_counts() # Sold Products, Wonka Bars are the most sold.

Product Name
Wonka Bar - Milk Chocolate           2137
Wonka Bar -Scrumdiddlyumptious       2064
Wonka Bar - Triple Dazzle Caramel    2015
Wonka Bar - Fudge Mallows            1818
Wonka Bar - Nutty Crunch Surprise    1810
Wonka Gum                             120
Kazookles                              96
Lickable Wallpaper                     94
SweeTARTS                              10
Laffy Taffy                            10
Fizzy Lifting Drinks                    6
Hair Toffee                             4
Nerds                                   4
Everlasting Gobstopper                  3
Fun Dip                                 3
Name: count, dtype: int64

In [10]:
df["Division"].value_counts()
# Chocolate Column has "Other" as a value, must look into that. As well with sugar value.

Division
Chocolate    9844
Other         310
Sugar          40
Name: count, dtype: int64

In [11]:
df["Region"].value_counts() # Pacific Region has the most values.

Region
Pacific     3253
Atlantic    2986
Interior    2335
Gulf        1620
Name: count, dtype: int64